*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gradle/
/build/
/.idea/
/.gradle/
/app/src/debug/res/values/map_api_key.xml
/gradle.properties
/app/keystore.properties
